html, body{
    height: 100%;
    /* overflow-x: hidden; */
    margin: 0;
    padding: 0;
    color: var(--color6);
}

:root{
    --color0: #12151d;
    --color1: #1D2333;
    --color2: #27496D;
    --color3: #0C7B93;
    --color4: #00A8CC;
    --color5: #92DCE5;
    --color6: #F1F2EB;
    background-color: var(--color1);
}

.total{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.navbar{
    display: flex;
    flex-direction: column;
    background-color: var(--color0);
    width: 22%;
    height: 100%;
    align-items: center;
    margin-left: 5%;
}

.pagebody{
    display: flex;
    width: 78%;
    flex-direction: column;
}

#profilepic{
    margin: 1.25rem auto;
    border-radius: 60%;
    background-image: url('../assets/profile.jpg');
    height: 200px;
    width: 200px;
    background-size: cover;
}

a{
    color: var(--color6);
    text-decoration: none;
}

.links{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.links a{
    /* color: var(--color4); */
    transition: color 0.5s ;
    margin-top: 0.75rem;
}

.links a:hover{
    color: var(--color4);
}
