$emrald-primary: #6ee7b7;
$emrald-secondary: #059669;
$slate-primary: #cbd5e1;
$black-primary: #111827;
$image-width: 17rem;
$image-height: 17rem;

// $purple1: #32004e;
// $purple2: #7600a1;
// $purple3: #ae00cb;
// $purple4: #ef94f4;
// $purple5: #fee1ff;
$purple1: #2e1065;
$purple2: #5b21b6;
$purple3: #7c3aed;
$purple4: #a78bfa;
$purple5: #ddd6fe;

$white: #e1e1e1;
