$emrald-primary: #6ee7b7;
$emrald-secondary: #059669;
$slate-primary: #cbd5e1;
$black-primary: #111827;
$image-width: 17rem;
$image-height: 17rem;

$purple1: #32004E;
$purple2: #7600A1;
$purple3: #AE00CB;
$purple4: #EF94F4;
