html,
body {
  padding: 0;
  margin: 0;
  font-family: "Agency FB";
  background-color: #252329;
}

/*-------------------NAVBAR----------------*/
.Navbar {
  background-color: #181818;
  color: white;
  height: 83px;
  position: sticky;
  top: 0;
}

.Navbar .FlexBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Navbar .Name {
  font-size: 32px;
  font-family: Agency FB;
  font-weight: bold;
  padding-left: 50px;
  padding-top: 26px;
  color: #5bc0de;
  white-space: nowrap;
  width: 15%;
}

.Navbar .links-container {
  margin-left: 30px;
}

.Navbar .links-container .link {
  text-decoration: none;
  color: #2e93b0;
  transition: color 0.35s, text-decoration 0.35s;
}

.Navbar .links-container .link:hover {
  color: #beebf9;
}

/*-------------------ABOUT----------------*/
.About-container {
  margin-top: 120px;
  margin-left: 14%;
  display: flex;
  flex-direction: row;
  width: 74%;
}

.Profile-img {
  border-radius: 100%;
  background-color: #fff;
  width: 210px;
  min-width: 210px;
  height: 210px;
  background-image: url(/profilepic.jpg);
  background-size: cover;
}

.Bar {
  background-color: #5bc0de;
  height: 470px;
  width: 25px;
  margin: 0 90px;
}

.Header {
  color: #5bc0de;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  margin-bottom: 10px;
}

.About-text {
  color: #beebf9;
  font-size: 22px;
  text-align: justify;
}
