html,
body {
  padding: 0;
  margin: 0;
  font-family: "Agency FB";
  background-color: #252329;
}

.Navbar {
  background-color: #181818;
  color: white;
  height: 83px;
  position: sticky;
  top: 0;
}

.Navbar .FlexBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Navbar .Name {
  font-size: 32px;
  font-family: Agency FB;
  font-weight: bold;
  padding-left: 50px;
  padding-top: 26px;
  color: #5bc0de;
  white-space: nowrap;
  width: 15%;
}

.Navbar .links-container {
  margin-left: 30px;
}

.Navbar .links-container .link {
  text-decoration: none;
  color: #2e93b0;
  transition: color 0.35s, text-decoration 0.35s;
}

.Navbar .links-container .link:hover {
  color: #beebf9;
}
