.layout {
    &_body {
        margin-top: 96px;
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 10rem;
        // justify-content: center;
        margin: 96px auto;
    }
}