body
{
    background-color: rgb(174, 174, 174);
}

body, html
{
    height: 100%;
    margin-top: 0px;
    margin-left: 0px;
}

:root
{
    --darkgrey: rgb(74, 74, 74);
    --sidebar-link: lavender;
    --sidebar-name: rgb(255, 231, 235);
    --sidebar-photo-shadow: rgb(33, 33, 33);
}

#container
{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    top: 0;
}

#identity-bar
{
    background-color: var(--darkgrey);
    display: flex;
    flex-direction: column;
    padding: 10px 0px 10px 0px; 
    margin-left: 15%;
    min-width: 230px;
    width: 320px;
    max-width: 320px;
}

#identity-bar #photo 
{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background: url("../assets/images/profile.jpg");
    border-width: 2px;
    border-style: solid;
    border-color: var(--sidebar-link);
    background-size: cover;
    box-shadow: 2px 1px 10px var(--sidebar-photo-shadow);
    justify-content: center;
    margin:0 auto;
}

#identity-bar #name
{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0px 10px 0px;
    text-align: center;
    margin-top: 25px;
}

#identity-bar #name a
{
    color: var(--sidebar-name);
}

#identity-bar a:link, #identity-bar a:visited
{
    text-decoration: none;
}

#identity-bar #identity-list
{
    text-align: center;
}

.list-items
{
    padding: 5px 0px 5px 0px;
    font-size: 18px;
}

.list-items a
{
    color: var(--sidebar-link);
    transition: color 500ms;
}

.list-items a:hover
{
    color: lemonchiffon;
}

#content-bar
{
    margin-right: 3%;
    margin-top: 220px;
    margin-left: 4%;
    width: 830px;
}

#content-bar #description
{
    background-color: burlywood;
    padding: 10px 15px 10px 15px;
    text-align: justify;
}

#domains-list
{
    display: flex;
    flex-direction: row;
    color: brown;
}

#domains-list .domain-container
{
    /* background-color: coral; */
    border: 1px solid black;
    width: 25%;
    height: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#domains-list .domain-container .domain-icon
{
    background-size: cover;
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#domains-list .domain-container #web,
#domains-list .domain-container #software,
#domains-list .domain-container #research,
#domains-list .domain-container #problem-solving
{
    padding-top: 10px;
}

#domains-list .domain-container #web
{
    background-color: cornflowerblue;
}
#domains-list .domain-container #software
{
    background-color: rgb(237, 100, 210);
}
#domains-list .domain-container #research
{
    background-color: rgb(100, 237, 127);
}
#domains-list .domain-container #problem-solving
{
    background-color: rgb(237, 194, 100);
}

#domains-list .domain-container #web .domain-icon
{
    background-image: url('../assets/images/icons/web.png');
}

#domains-list .domain-container #software .domain-icon
{
    background-image: url('../assets/images/icons/software.png');
}

#domains-list .domain-container #research .domain-icon
{
    background-image: url('../assets/images/icons/research.png');
}

#domains-list .domain-container #problem-solving .domain-icon
{
    background-image: url('../assets/images/icons/problem-solving.png');
}

#domains-list .domain-container #problem-solving .domain-icon
{
    
}