html,
body {
  padding: 0;
  margin: 0;
  font-family: "Agency FB", arial;
  background-color: #252329;
  width: auto !important;
  /* overflow-x: hidden !important; */
}

/*-------------------NAVBAR----------------*/
.Navbar {
  background-color: #181818;
  color: white;
  height: 83px;
  position: sticky;
  top: 0;
  z-index: 3;
  box-shadow: 0px 1px 15px #5bc0de;
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
}

.Name {
  font-size: 32px;
  font-family: "Agency FB";
  font-weight: bold;
  padding-left: 50px;
  padding-top: 26px;
  color: #5bc0de;
}

.links-container {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  font-size: 24px;
  font-weight: bold;
  margin-left: 10%;
}

.links-container .link {
  margin-left: 30px;
  text-decoration: none;
  color: #2e93b0;
  transition: color 0.35s, text-decoration 0.35s;
}

.links-container .link:hover {
  color: #beebf9;
}

/*-------------------ABOUT----------------*/
.About-container {
  margin-top: 120px;
  margin-left: 14%;
  display: flex;
  flex-direction: row;
  width: 74%;
  margin: 120px auto 0px auto;
}

.Profile-img {
  border-radius: 100%;
  background-color: #fff;
  width: 210px;
  min-width: 210px;
  height: 210px;
  background-image: url(/images/profilepic.jpg);
  background-size: cover;
  z-index: 1;
}

.Bar {
  background-color: #5bc0de;
  height: 470px;
  width: 25px;
  margin: 0 90px;
}

.Header {
  color: #5bc0de;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}

.About-text {
  color: #beebf9;
  font-size: 22px;
  text-align: justify;
}

.skills-languages-container {
  border: 3px solid #0d7998;
  width: 65%;
  margin: 0 auto;
}

.languages-head {
  color: #ffd83a;
  font-size: 30px;
}

.languages-icon-box {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.parent-box {
  width: 65%;
  max-width: 65%;
  min-width: 65%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
}

.child-box {
  border: 3px solid #0d7998;
  width: 55%;
  margin-left: 5px;
}

.frameworks-head {
  color: #b152eb;
  font-size: 30px;
}

.frontend-backend-box {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.databases-box {
  border: 3px solid #0d7998;
  width: 42%;
  padding-left: 10px;
  margin-left: 10px;
}

.education-card {
  width: 113px;
  height: 113px;
  background-color: white;
  border-radius: 100%;
}

.div-margin {
  margin: 120px auto 170px auto;
  width: 75%;
}

.div-margin-skills {
  margin: 120px auto 170px auto;
}

.contact-margin {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: 50px auto;
  font-size: 25px;
}

.contact-labels {
  display: flex;
  flex-direction: column;
  text-align: right;
  color: #2e93b0;
  padding: 10px;
  gap: 15px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #beebf9;
  padding: 10px;
  gap: 15px;
}

.contact-row {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.experience-tree-row {
  display: flex;
  flex-direction: row;
  width: 75%;
  margin: 0 auto;
}

.experience-tree-row-container {
  display: flex;
  flex-direction: row;
  width: 44%;
  justify-content: right;
  padding: 55px 0px 0px 0px;
}

.experience-dialogue-arrow-left {
  margin-top: 20px;
  background-color: transparent;
  border-right: 50px solid #155365;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  width: 0;
  height: 0;
}

.experience-dialogue-arrow-right {
  margin-top: 20px;
  background-color: transparent;
  border-left: 50px solid #155365;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  width: 0;
  height: 0;
}

.experience-tree-row-bar {
  width: 10px;
  min-width: 10px;
  background-color: #5bc0de;
  height: 230px;
  margin: 0 auto;
}

@media only screen and (max-width: 825px) {
  .Navbar {
    height: 120px;
    flex-direction: column;
  }

  .Name {
    font-size: 40px;
    padding-left: 0px;
    padding-top: 5px;
    white-space: nowrap;
    width: 100%;
    text-align: center;
  }

  .links-container {
    padding-top: 10px;
    font-size: 25px;
    margin: 0 auto;
    width: fit-content;
    display: block;
  }

  .links-container .link {
    margin-left: 5px;
    text-decoration: none;
    color: #2e93b0;
    transition: color 0.35s, text-decoration 0.35s;
    font-size: 20px;
  }

  .About-container {
    flex-direction: column;
    width: fit-content;
    margin: 120px auto 0px auto;
  }

  .Profile-img {
    margin: 0 auto;
    border-radius: 100%;
    background-color: #fff;
    width: 210px;
    min-width: 210px;
    height: 210px;
    background-image: url(/images/profilepic.jpg);
    background-size: cover;
    z-index: 1;
  }

  .Bar {
    background-color: #5bc0de;
    height: 10px;
    min-width: 100px;
    width: 60%;
    margin: 50px auto;
  }

  .Header {
    color: #5bc0de;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
  }

  .About-text {
    color: #beebf9;
    font-size: 22px;
    text-align: justify;
    padding: 10px 20px;
  }

  .skills-languages-container {
    width: 90%;
  }

  .child-box {
    width: 90%;
    margin: 0 auto;
  }

  .parent-box {
    all: unset;
    flex-direction: column;
    gap: 300px;
    width: 100%;
  }

  .frontend-backend-box {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .databases-box {
    width: 90%;
    padding-left: 0px;
    margin: 20px auto;
  }
}
