html,
body {
  height: 100%;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgba(0, 49, 68, 0.904);
  overflow-x: hidden;
  background-image: url("/images/background.webp");
  background-size: contain;
  background-blend-mode: multiply;
  background-size: cover;
  opacity: 5;
}

.transit {
  transition: color 0.25s, background-color 0.25s;
}
